<!DOCTYPE html>
<html lang="en">
<%- include('partial/head',{ title : 'ACCESORIOS' }) %>

  <body class="accesorio">
    <%- include('partial/header') %>
      <div class="btn-group">

        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
          data-bs-auto-close="inside" aria-expanded="false">
          Todos los productos
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/products/celulares">Celulares</a></li>
          <li><a class="dropdown-item" href="/products/accesoriosParaCelu">Accesorios</a></li>
        </ul>
      </div>

      <div class="accesoriosCelu">
        <% accesoriosParaCelu.forEach(product=> { %>
          <div class="imagen_accesorios">
            <img src="/images/accesorios/<%=product.imagen %>" class="card-img-top" alt="...">
          </div>
          <div class="modeloA">
            <h5>Accesorio: <%= product.modelo %>
            </h5>
            <a href="/products/detalle/<%= product.id %>" class="btn btn-outline-primary">ver más</a>
          </div>
          <% }) %>
      </div>
      </div>



      <%- include('partial/footer') %>
  </body>

</html>