<!DOCTYPE html>
<html lang="en">
<%- include('partial/head',{ title : 'ACCESORIOS' }) %>

    <body class="accesorio">
        <%- include('partial/header') %>

            <!-- BOTON FILTRO-->
            <div>
                <div class="btn-group">

                    <button class="btn btn-info dropdown-toggle mb-5" type="button" data-bs-toggle="dropdown"
                        data-bs-auto-close="inside" aria-expanded="false" style="margin-top: 15px;">
                        Ver solo
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/products/celulares">Celulares</a></li>
                        <li><a class="dropdown-item" href="/products/accesorios">Accesorios</a></li>
                    </ul>
                </div>
            </div>
            <!-- FIN BOTON FILTRO-->

            <div class="container">
                <div class="row">
                    <%accesorios.forEach(product=> { %>
                        <div class="col-lg-4 col-md-4 mb-4 card-hover-zoom">
                            <div class="card h-100" style="max-width: 12rem; margin: auto;">
                                <img src="/images/products/<%=product.image ||'default.png' %>" class="card-img-top"
                                    alt="Imagen">
                                <div class="card-body">
                                    <h6 style="color: black">
                                        <%= product.brand.name %>
                                    </h6>
                                    <p class="card-title">
                                        <%=product.model%>
                                    </p>
                                    <% if(product.discount> 0) { %>
                                        <small class="card-text" style="text-decoration: line-through;">$
                                            <%=product.price%></small>
                                        <p class="card-text text-success"><b>
                                                <%=product.discount%>%
                                            </b></p>
                                        <% } %>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text">$<%=product.price * (1 - product.discount/100)%>
                                    </p>
                                    <a href="/products/detalle/<%=product.id%>" class="btn btn-primary">Ver más</a>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>
            <%- include('partial/footer') %>
    </body>

</html>