<!DOCTYPE html>
<html lang="en">
<%- include('partial/head',{ title:'ADMIN' }) %>

    <body class="home">

        <main class="container">
            <div class="row mt-5">
                <div class="col-12 col-md-12 col-lg-10 mx-auto">
                    <div class="card">
                        <div class="card-header"></div>
                        <div class="card-body">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                                        aria-selected="true">Productos</button>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                    aria-labelledby="nav-home-tab" tabindex="0">
                                    <div class="d-flex flex-column flex-md-rowflex justify-content-between my-3">

                                        <div style="display: flex; gap: 2rem;">
                                            <form action="/products/filter" class="d-flex flex-column flex-md-row gap-2"
                                                method="GET" style="flex: 1;">
                                                <select class="form-select" name="brand">
                                                    <% if (locals.brand) { %>
                                                        <% brands.forEach(item=> { %>
                                                            <option <%=+brand===item.id && 'selected' %> value="<%=
                                                                    item.id %>"><%= item.name %>
                                                            </option>
                                                            <% }) %>
                                                                <% }else{ %>
                                                                    <option selected hidden>Filtrar por marca</option>
                                                                    <% brands.forEach(brand=> { %>
                                                                        <option value="<%= brand.id %>">
                                                                            <%= brand.name %>
                                                                        </option>
                                                                        <% }) %>
                                                                            <% } %>
                                                </select>
                                                <button type="submit" class="btn btn-sm btn-dark">
                                                    Filtrar
                                                </button>
                                            </form>
                                            <form action="/products/search" class="d-flex flex-column flex-md-row gap-2"
                                                method="GET" style="flex: 1;">
                                                <input type="text" class="form-control" placeholder="Buscar..."
                                                    name="keyword">
                                                <button type="submit" class="btn btn-info">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </form>
                                        </div>



                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Marca</th>
                                                    <th scope="col">Modelo</th>
                                                    <th scope="col">Precio</th>
                                                    <th scope="col">Descuento</th>
                                                    <th scope="col">P. Final</th>
                                                    <th scope="col">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% products.forEach(({id,brand,model,price,discount})=> { %>
                                                    <tr>
                                                        <th scope="row">
                                                            <%= id %>
                                                        </th>
                                                        <td>
                                                            <%= brand.name%>
                                                        </td>
                                                        <td>
                                                            <%= model %>
                                                        </td>
                                                        <td>
                                                            <%= price %>
                                                        </td>
                                                        <td>
                                                            <%= discount %>
                                                        </td>
                                                        <td>
                                                            <%= price - (discount*price/100) %>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex gap-2">
                                                                <a href="/products/detalle/<%= id %>"
                                                                    class="btn btn-sm btn-info">
                                                                    <i class="fas fa-eye"></i>
                                                                </a>
                                                                <a href="/products/edit/<%= id %>"
                                                                    class="btn btn-sm btn-warning">
                                                                    <i class="fas fa-edit"></i>
                                                                </a>

                                                                <!-- Button trigger modal -->
                                                                <button type="button" class="btn btn-sm btn-danger"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-target="#exampleModal<%= id %>">
                                                                    <i class="fas fa-trash"></i>
                                                                </button>

                                                                <!-- Modal -->
                                                                <div class="modal fade" id="exampleModal<%= id %>"
                                                                    tabindex="-1" aria-labelledby="exampleModalLabel"
                                                                    aria-hidden="true">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h1 class="modal-title fs-5"
                                                                                    id="exampleModalLabel">Advertencia
                                                                                </h1>
                                                                                <button type="button" class="btn-close"
                                                                                    data-bs-dismiss="modal"
                                                                                    aria-label="Close"></button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <p>¿Estás seguro que querés eliminar el
                                                                                    producto <b>
                                                                                            <%= model %>
                                                                                    </b>?</p>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button"
                                                                                    class="btn btn-secondary"
                                                                                    data-bs-dismiss="modal">Cancelar</button>
                                                                                <form
                                                                                    action="/products/remove/<%= id %>?_method=DELETE"
                                                                                    method="POST">
                                                                                    <button type="submit"
                                                                                        class="btn btn-danger">Eliminar</button>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <% }) %>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                    aria-labelledby="nav-profile-tab" tabindex="0"></div>
                                <!-- <div class="tab-pane fade" id="nav-disabled" role="tabpanel"
                                        aria-labelledby="nav-disabled-tab" tabindex="0">...</div> -->
                            </div>
                            <button class="btn btn-sm btn-dark"><a href="/" style="color: white;">Volver al
                                    HOME</a></button>
                            <button class="btn btn-sm btn-secondary"> <a href="/products/add"
                                    style="color: white;">Agregar producto</a></button>

                        </div>
                    </div>
                </div>

            </div>

        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    </body>

</html>