<!DOCTYPE html>
<html lang="en">
<%- include('partial/head',{ title : 'CELULARES' }) %>

  <body class="celular">
    <%- include('partial/header') %>
    <div class="btn-group">
    
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
          data-bs-auto-close="inside" aria-expanded="false">
          Todos los productos
      </button>
      <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/products/celulares">Celulares</a></li>
          <li><a class="dropdown-item" href="/products/accesorios">Accesorios</a></li>
      </ul>
  </div>
      <div class="celulares">
        <%celulares.forEach(product=> { %>
          <div class="imagen_celulares">
            <img src="/images/celulares/<%= product.imagen %>" class="card-img-top" alt="...">
          </div>

          <div class="modelo">
            <h5>Celular: <%= product.modelo %>
            </h5>

            <a href="/products/detalle/<%= product.id %>" class="btn btn-outline-primary">ver más</a>
           </div>

          <% }) %>

      </div>
      </div>



      <%- include('partial/footer') %>
  </body>

</html>