<!DOCTYPE html>
<html lang="en">
<%- include('partial/head',{ title : 'DETALLE DE PRODUCTO' }) %>
   
   
   <style>
    .swiper {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>

    <body>
        <%- include('partial/header') %>

            <!-- BOTON FILTRO-->
            <div>
                <div class="btn-group">
                    <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        data-bs-auto-close="inside" aria-expanded="false" style="margin-top: 15px;">
                        Ver solo
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/products/celulares">Celulares</a></li>
                        <li><a class="dropdown-item" href="/products/accesorios">Accesorios</a></li>
                    </ul>
                </div>
            </div>
            <!-- FIN BOTON FILTRO-->

            <main class="container mt-5 mb-5">
                <div class="row">
                    <div class="col-12 col-md-10  mx-auto">
                        <div class="card shadow">
                            <div class="card-body">
                                <h3 style="color: black">
                                    <%= product.model %>
                                </h3>
                                <hr>
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <img src="/images/products/<%= product.image %>" class="img-fluid"
                                            alt="img-product">
                                    </div>
                                    <div class="col-12 col-md-8">
                                        <h3 style="color: black">
                                            <%= product.brand.name %>
                                        </h3>
                                        <% if(product.discount> 0) { %>
                                            <small class="card-text" style="text-decoration: line-through;">$
                                                <%=product.price%>
                                            </small>
                                            <p class="card-text text-success"><b>
                                                    <%=product.discount%>%
                                                </b></p>

                                            <% } %>
                                                <h2 class="card-text" style="color: black">$<%=product.price * (1 -
                                                        product.discount/100)%>
                                                </h2>

                                                </h2>
                                                <p>
                                                    <%= product.description %>
                                                </p>

                                                <a onclick="addProductToCart('<%= product.id %>')" href="#">Agregar al
                                                    carrito<i class="p-2 fa-solid fa-cart-shopping"></i></a>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <ul>
                                            <% product.technicalSpecifications.forEach(spec=> { %>
                                                <li>
                                                    <%= spec %>
                                                </li>
                                                <% }); %>
                                        </ul>
                                    </div>
                                    <div class="card shadow mt-2">
                                        <div class="card-body">
                                            <h4>Productos relacionados</h4>
                                            <hr>
                                        </div>

                                        <div class="swiper mySwiper">
                                            <div class="swiper-wrapper mb-3">
                                                <% products.forEach(product=> { %>
                                                    <div class="swiper-slide ">
                                                        <a href="/products/detalle/<%= product.id %>">
                                                            <div class="d-flex flex-column">
                                                                <img src="/images/products/<%= product.image%>"
                                                                    style="height: 200px; object-fit: contain;" alt="">
                                                                <hr>
                                                                <p class="text-dark">
                                                                    <%= product.name %>
                                                                </p>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <% }) %>
                                            </div>
                                            <div class="swiper-pagination"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
            </main>
            <%- include('partial/scripts') %>
            <button class="btn btn-primary btn-sm" id="volverAtras" style="color:white;">Volver
                atrás</button>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            <script> //Script para volver atrás
                document.getElementById("volverAtras").addEventListener("click", function () {
                    window.history.back(); // Esto volverá a la página anterior en el historial de navegación
                });
            </script>
            </main>
            <%- include('partial/footer') %>
            <script src="/javascripts/addProductToCart.js"></script>
            <script>
                var swiper = new Swiper(".mySwiper", {
                  slidesPerView: 3,
                  spaceBetween: 30,
                  freeMode: true,
                  pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                  },
                  breakpoints: {
                320: {
                  slidesPerView: 2,
                  spaceBetween: 20,
                },
                768: {
                  slidesPerView: 3,
                  spaceBetween: 40,
                },
               
              },
                });
              </script>
        </body>

</html>