<!DOCTYPE html>
<html lang="en">
<%- include('partial/head',{ title : 'DETALLE DE PRODUCTO' }) %>

    <body>
        <%- include('partial/header') %>
            <main style="color: white;">

                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <img src="/images/detalle/<%=product.imagen || 'default.png'%>" alt="product image"
                                class="product-detail-img">
                        </div>
                    </div>

                    <div class="row">
                        <article style="text-align: right;">
                            <h1>
                                <%= product.modelo %>
                            </h1>
                            <h2>$<%= product.precio %>
                            </h2>
                            <button class="btn btn-sm btn-primary">Agregar al carrito</button>
                        </article>
                    </div>
                </div>

                <div class="container" style="text-align: center;">
                        <ul>
                            <li>
                                <h5>Descripcion</h5>
                            </li>
                            <p>
                                <%= product.descripcion %>
                            </p>
                            <li>
                                <h5>Especificaciones técnicas</h5>
                            </li>
                            <p>
                                <%= product.especificacionesTecnicas %>
                            </p>
                        </ul>
                    </div>
                </div>
            </main>
            <%- include('partial/footer') %>
    </body>

</html>