<!DOCTYPE html>
<html lang="en">
<%- include('partial/head',{ title:'INDEX' }) %>

    <body class="home">
        <%- include('partial/header') %>
            <main class="home__main">

                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/images/banner/banner5.webp" class="d-block w-100" alt="...">
                        </div>

                        <div class="carousel-item">
                            <img src="/images/banner/banner4.webp" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/banner/banner_celu.webp" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>


                <div class="celulares-ofertas">
                    <div class="banner_mas_vendido">
                        <img src="/images/lo mas vendido.png" alt="">
                    </div>
                    <div>
                        <div class="btn-group">

                            <button class="btn btn-secondary dropdown-toggle mb-5" type="button"
                                data-bs-toggle="dropdown" data-bs-auto-close="inside" aria-expanded="false">
                                Todos los productos
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/products/celulares">Celulares</a></li>
                                <li><a class="dropdown-item" href="/products/accesoriosParaCelu">Accesorios</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="glider-contain">
                        <div class="glider">
                            <%oferta.forEach(product=> { %>
                                <article class="home__carousel__article">
                                    <img src="/images/celulares/<%=product.imagen || 'default.png'%>" alt="Imagen">

                                </article>
                                <% }) %>



                        </div>
                        <button aria-label="Previous" class="glider-prev">
                            <i class="fa-solid fa-circle-chevron-left"></i>
                        </button>
                        <button aria-label="Next" class="glider-next">
                            <i class="fa-solid fa-circle-chevron-right"></i>
                        </button>
                        <div role="tablist" class="dots"></div>
                    </div>
                </div>

            </main>
            <script src="/javascripts/glider.js"></script>
            <script>
                window.addEventListener("load", function () {
                    new Glider(document.querySelector(".glider"), {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        dots: '.dots',
                        arrows: {
                            prev: '.glider-prev',
                            next: '.glider-next'
                        },
                        draggable: true,
                        responsive: [
                            {
                                // screens greater than >= 775px
                                breakpoint: 768,
                                settings: {
                                    // Set to `auto` and provide item width to adjust to viewport
                                    slidesToShow: 3,
                                    slidesToScroll: 1,
                                    duration: 0.25,
                                    /* itemWidth: 150, */

                                }
                            }, {
                                // screens greater than >= 1024px
                                breakpoint: 1024,
                                settings: {
                                    slidesToShow: 4,
                                    slidesToScroll: 1,
                                    duration: 0.25,


                                }
                            }
                        ]
                    });
                });
            </script>

            <div class="accesorios">
                <div class="banner_mas_vendido">
                    <img src="/images/mas-vendido.jpg" alt="">
                </div>
                <%accesorios.forEach(product=> { %>
                    <div class="accesoriosimg">

                        <img src="/images/accesorios/<%=product.imagen%>" alt="">
                    </div>
                    <% }) %>
            </div>

            </div>
            <%- include('partial/footer') %>
    </body>

</html>