<!DOCTYPE html>
<html lang="en">
<%- include('partial/head',{ title:'INDEX' }) %>

    <body class="home">
        <%- include('partial/header') %>
            <main class="home__main">

                <!-- CARRUSEL AUTOMATICO-->
                <div class="container mb-5">
                    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/banner/banner5.webp" class="d-block w-100" alt="imgCarrousel">
                            </div>

                            <div class="carousel-item">
                                <img src="/images/banner/banner4.webp" class="d-block w-100" alt="imgCarrousel">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/banner/banner_celu.webp" class="d-block w-100" alt="imgCarrousel">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- FIN CARRUSEL AUTOMATICO-->
                <div class="container">
                    <div class="row">
                        <h3 class="mb-4">#NUESTROS NUEVOS PRODUCTOS</h3>
                        <% products.forEach(product=> { %>
                            <div class="col-lg-4 col-md-4 mb-4 card-hover-zoom">
                                <div class="card h-100" style="max-width: 12rem; margin: auto;">
                                    <img src="/images/products/<%=product.image ||'default.png' %>" class="card-img-top"
                                        alt="Imagen">
                                    <div class="card-body">
                                        <p class="card-title">
                                            <%=product.model%>

                                    </div>
                                    <div class="card-footer">
                                        <p>
                                        <p class="card-text">$<%=product.price%>
                                        </p>
                                        <a href="/products/detalle/<%=product.id%>" class="btn btn-primary">Ver más</a>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                </div>
                <!-- FIN PRODUCTOS MAS NUEVOS-->

                <!-- ACCESORIOS MAS VENDIDOS-->
                <div class="container">
                    <div class="accesorios">
                        <div class="banner_mas_vendido">
                            <img src="/images/banner/mas-vendido.jpg" alt="banner">
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <h3 class="mb-4">#LOS ACCESORIOS MAS VENDIDOS</h3>
                        <%accesorios.forEach(product=> { %>
                            <div class="col-lg-4 col-md-4 mb-4 card-hover-zoom">
                                <div class="card h-100" style="max-width: 12rem; margin: auto;">
                                    <img src="/images/products/<%=product.image ||'default.png' %>" class="card-img-top"
                                        alt="Imagen">

                                    <div class="card-body">
                                        <p class="card-title">
                                            <%=product.model%>

                                    </div>
                                    <div class="card-footer">
                                        <p>
                                        <p class="card-text">$<%=product.price%>
                                        </p>
                                        <a href="/products/detalle/<%=product.id%>" class="btn btn-primary">Ver más</a>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                </div>
                <!-- FIN ACCESORIOS MAS NUEVOS-->

                <!-- OFERTAS-->
                <!-- <div class="container">
                    <div class="accesorios">
                        <div class="banner_mas_vendido">
                            <img src="/images/banner/ofertas.jpg" alt="banner" style="width: 1000px; height: 200px;">
                        </div>
                    </div>
                </div> -->

                <div class="container">
                    <div class="row">
                        <h3 class="mb-4">#OFERTAS!! </h3>
                        <div class="container">
                            <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5">
                                <%oferta.forEach(product=> { %>
                                    <div class="col mb-4 card-hover-zoom">

                                        <div class="card h-100" style="max-width: 15rem; margin: auto;">
                                            <img src="/images/products/<%=product.image || 'default.png' %>"
                                                class="card-img-top img-fluid" alt="Imagen">

                                            <div class="card-body">
                                                <p class="card-title">
                                                    <%=product.model%>
                                                </p>

                                            </div>
                                            <div class="card-footer">

                                                <% if(product.discount> 0) { %>
                                                    <div class="container">
                                                        <small class="card-text"
                                                            style="text-decoration: line-through;">$
                                                            <%=product.price%>
                                                        </small>
                                                        <p class="card-text text-success"><b>
                                                                <%=product.discount%>%
                                                            </b></p>
                                                        <% } %>
                                                    </div>
                                                    <p class="card-text"><b>$<%=product.price * (1 -
                                                                product.discount/100)%></b>
                                                    </p>
                                                    <a href="/products/detalle/<%=product.id%>"
                                                        class="btn btn-primary">Ver
                                                        más</a>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- FIN OFERTAS-->

            </main>
            <%- include('partial/footer') %>
    </body>

</html>