<!DOCTYPE html>
<html lang="en">
<%- include('partial/head',{ title:'INDEX' }) %>

    <body class="home">
        <%- include('partial/header') %>
            <main class="home__main">

                <!-- CARRUSEL AUTOMATICO-->
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/images/banner/banner5.webp" class="d-block w-100" alt="...">
                        </div>

                        <div class="carousel-item">
                            <img src="/images/banner/banner4.webp" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/banner/banner_celu.webp" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
                <!-- FIN CARRUSEL AUTOMATICO-->

                <!-- BOTON FILTRO-->
                <div>
                    <div class="btn-group">

                        <button class="btn btn-info dropdown-toggle mb-5" type="button" data-bs-toggle="dropdown"
                            data-bs-auto-close="inside" aria-expanded="false" style="margin-top: 15px;">
                            Ver solo
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/products/celulares">Celulares</a></li>
                            <li><a class="dropdown-item" href="/products/accesoriosParaCelu">Accesorios</a></li>
                        </ul>
                    </div>
                </div>
                <!-- FIN BOTON FILTRO-->

                <!-- PRODUCTOS MAS NUEVOS-->
                <div class="container">
                    <div class="row">
                        <div class="celulares-ofertas">
                            <div class="banner_mas_vendido">
                                <img src="/images/banner/NuevosProductos.jpg" alt="banner" style="width: 1000px; height: 200px;">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="container">
                    <div class="row">
                        <%accesorios.forEach(product=> { %>
                            <div class="col-lg-4 col-md-4 mb-4">
                                <div class="card h-100" style="max-width: 12rem; margin: auto;">
                                    <img src="/images/accesorios/<%=product.imagen ||'default.png' %>"
                                        class="card-img-top" alt="Imagen">
                                    <div class="card-body">
                                        <p class="card-title">
                                            <%=product.modelo%>
                                                <p>
                                                <p class="card-text">$<%=product.precio%>
                                                </p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="/products/detalle/<%=product.id%>" class="btn btn-primary">Ver más</a>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                </div>
                <!-- FIN PRODUCTOS MAS NUEVOS-->

                <!-- ACCESORIOS MAS VENDIDOS-->
                <div class="container">
                    <div class="accesorios">
                        <div class="banner_mas_vendido">
                            <img src="/images/banner/mas-vendido.jpg" alt="banner" style="width: 1000px; height: 200px;">
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <%accesorios.forEach(product=> { %>
                            <div class="col-lg-4 col-md-4 mb-4">
                                <div class="card h-100" style="max-width: 12rem; margin: auto;">
                                    <img src="/images/accesorios/<%=product.imagen ||'default.png' %>"
                                        class="card-img-top" alt="Imagen">

                                    <div class="card-body">
                                        <p class="card-title">
                                            <%=product.modelo%>
                                                <p>
                                                <p class="card-text">$<%=product.precio%>
                                                </p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="/products/detalle/<%=product.id%>" class="btn btn-primary">Ver más</a>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                </div>
                <!-- FIN ACCESORIOS MAS NUEVOS-->

                <!-- OFERTAS-->
                <div class="container">
                    <div class="accesorios">
                        <div class="banner_mas_vendido" >
                            <img src="/images/banner/ofertas.jpg" alt="banner" style="width: 1000px; height: 200px;">
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <%accesorios.forEach(product=> { %>
                            <div class="col-lg-4 col-md-4 mb-4">
                                <div class="card h-100" style="max-width: 12rem; margin: auto;">
                                    <img src="/images/accesorios/<%=product.imagen ||'default.png' %>"
                                        class="card-img-top" alt="Imagen">
                                    <div class="card-body">
                                        <p class="card-title">
                                            <%=product.modelo%>
                                                <p>
                                                <p class="card-text">$<%=product.precio%>
                                                </p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="/products/detalle/<%=product.id%>" class="btn btn-primary">Ver más</a>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                </div>
                <!-- FIN OFERTAS-->

            </main>
            <%- include('partial/footer') %>
    </body>

</html>