<!DOCTYPE html>
<html lang="en">
<%- include('partial/head',{ title:'INDEX' }) %>

    <body class="productsForms">

        <!-- MAIN -->
        <main class="container">
            <div class="row mt-5">
                <div class="col-12 col-md-12  mx-auto">
                    <div class="card">

                        <!-- HEADER TABLA -->
                        <div class="card-header">
                            <h4 class="card-title">Editar Producto</h4>
                        </div>
                        <div class="card-body">

                            <!-- FORMULARIO -->
                            <form action="/products/update/<%= id %>?_method=PUT" method="POST" class="row" enctype="multipart/form-data">
                                <div class="col-12 col-md-6 mb-3">
                                    <label for="id" class="form-label">ID</label>
                                    <input type="number" class="form-control" id="id" name="id" value="<%= id %>">
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label for="formGroupExampleInput2" class="form-label">Marca</label>
                                    <select class="form-select" aria-label="Default select example" name="marca" value="<%= marca %>">
                                        <% marcas.forEach(item => { %>
                                            <option <%= item.name === marca && "selected" %> value="<%= item.name %>"><%= item.name %></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label for="formGroupExampleInput" class="form-label">Modelo</label>
                                    <input type="text" class="form-control" id="formGroupExampleInput"
                                        placeholder="Modelo del producto" name="modelo" value="<%= modelo %>">
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label for="formGroupExampleInput" class="form-label">Color</label>
                                    <input type="text" class="form-control" id="formGroupExampleInput"
                                        placeholder="Color del producto" name="color" value="<%= color %>">
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label for="anio" class="form-label">Año de lanzamiento</label>
                                    <input type="number" class="form-control" id="anio" name="anio" value="<%= anio %>">
                                </div>
                                <div class="col-12  mb-3">
                                    <label for="descripcion" class="form-label">Descripción</label>
                                    <textarea class="form-control" style="resize: none;" name="descripcion"
                                        id="descripcion"><%= descripcion %></textarea>
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label for="descuento" class="form-label">Descuento</label>
                                    <input type="number" class="form-control" id="descuento" name="descuento" value="<%= descuento %>">
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label for="precio" class="form-label">Precio</label>
                                    <input type="number" class="form-control" id="precio" name="precio" value="<%= precio %>">
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label for="formGroupExampleInput2" class="form-label">Stock</label>
                                    <select class="form-select" aria-label="Default select example" name="stock">
                                        <option selected hidden value="">Seleccione...</option>
                                        <option  value="true">True</option>
                                        <option  value="false">False</option>
                                    </select>
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label for="formGroupExampleInput2" class="form-label">Cantidad</label>
                                    <select class="form-select" aria-label="Default select example" name="cantidad">
                                        <option selected hidden value="">Seleccione...</option>
                                        <option  value="1">1</option>
                                        <option  value="2">2</option>
                                        <option  value="3">3</option>
                                        <option  value="4">4</option>
                                        <option  value="5">5</option>
                                        <option  value="6">6</option>
                                        <option  value="7">7</option>
                                        <option  value="8">8</option>
                                        <option  value="9">9</option>
                                        <option  value="10">10</option>
                                    </select>
                                </div>
                                <div class="col-12  mb-3">
                                    <label for="especificaciones" class="form-label">Especificaciones técnicas</label>
                                    <textarea class="form-control" style="resize: none;" name="especificaciones"
                                        id="especificaciones"></textarea>
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label for="formGroupExampleInput2" class="form-label">Categoría</label>
                                    <select class="form-select" aria-label="Default select example" name="categoria">
                                        <option selected hidden value="">Seleccione...</option>
                                        <option  value="accesorios">Accesorios</option>
                                        <option  value="celulares">Celulares</option>
                                    </select>
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label for="formGroupExampleInput2" class="form-label">Sub-Categoría</label>
                                    <select class="form-select" aria-label="Default select example" name="subcategoria">
                                        <option selected hidden value="">Seleccione...</option>
                                        <option  value="auriculares">Auriculares</option>
                                        <option  value="cargadores">Cargadores</option>
                                        <option  value="celulares">Celulares</option>
                                        <option  value="oferta">Oferta</option>
                                        <option  value="ringo">Ringo</option>
                                        <option  value="soporte">Soporte</option>
                                    </select>
                                </div>

                                <div class="col-12 d-flex justify-content-end gap-2 mb-3">
                                    <label for="image" class="btn btn-secondary">Cambiar imagen</label>
                                    <input hidden class="form-control" type="file" id="image" name="imagen">
                                    <button class="btn btn-guardar" type="submit">Guardar cambios</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>

</html>