<!DOCTYPE html>
<html lang="en">
<%- include('partial/head',{ title:'INDEX' }) %>

    <body class="productsForms">

        <!-- MAIN -->
        <main class="container">
            <div class="row mt-5">
                <div class="col-12 col-md-12 col-lg-10 mx-auto">
                    <div class="card">

                        <!-- HEADER TABLA -->
                        <div class="card-header">
                            <h4 class="card-title">Nuevo Producto</h4>
                        </div>
                        <div class="card-body">

                            <!-- FORMULARIO -->
                            <form action="" method="POST" class="row" enctype="multipart/form-data">
                                <div class="col-12 col-md-6 mb-3">
                                    <label for="formGroupExampleInput2" class="form-label">Marca</label>
                                    <select class="form-select" aria-label="Default select example" name="marca">
                                        <option selected hidden value="">Seleccione...</option>
                                        <% marcas.forEach(marca=> { %>
                                            <option value="<%= marca.name %>">
                                                <%= marca.name %>
                                            </option>
                                            <% }) %>
                                    </select>
                                    <small class="ms-2 text-danger"><%= locals.errors && (errors.marca && errors.marca.msg) %></small>
                                </div>
                            </div>
                         
                            <div class="col-12 col-md-6 mb-3">
                                <label for="section" class="form-label">Sección</label>
                                <select class="form-select <%= locals.errors && (errors.section && 'is-invalid') %>" aria-label="Default select example" name="section" id="section">
                                  <option selected hidden value="">Seleccione...</option>
                                  <% sections.forEach(section=> { %>
                                    <option value="<%= section.id %>" <%= locals.old && (old.section === section.id && 'selected' )%> >
                                      <%= section.name %>
                                    </option>
                                    <% }) %>
                                </select>
                                <small class="ms-2 text-danger"><%= locals.errors && (errors.section && errors.section.msg) %></small>
            
                              </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label for="formGroupExampleInput" class="form-label">Modelo</label>
                                    <input type="text" class="form-control" id="formGroupExampleInput"
                                        placeholder="Modelo del producto" name="modelo">
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label for="formGroupExampleInput" class="form-label">Color</label>
                                    <input type="text" class="form-control" id="formGroupExampleInput"
                                        placeholder="Color del producto" name="color">
                                    <small class="ms-2 text-danger"><%= locals.errors && (errors.color && errors.color.msg) %></small>
    
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label for="anio" class="form-label">Año de lanzamiento</label>
                                    <input type="number" class="form-control" id="anio" name="anio">
                                </div>
                                <div class="col-12  mb-3">
                                    <label for="descripcion" class="form-label">Descripción</label>
                                    <textarea class="form-control" style="resize: none;" name="descripcion"
                                        id="descripcion"></textarea>
                                    <small class="ms-2 text-danger"><%= locals.errors && (errors.description && errors.description.msg) %></small>
        
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label for="descuento" class="form-label">Descuento</label>
                                    <input type="number" class="form-control" id="descuento" name="descuento" value="0">
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label for="precio" class="form-label">Precio</label>
                                    <input type="number" class="form-control <%= locals.errors && (errors.price && 'is-invalid') %>" id="price" name="price"  value="<%= locals.old && (old.price && old.price) %>">
                                    <small class="ms-2 text-danger"><%= locals.errors && (errors.price && errors.price.msg) %></small>

                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label for="formGroupExampleInput2" class="form-label">Stock</label>
                                    <select class="form-select" aria-label="Default select example" name="stock">
                                        <option selected hidden value="">Seleccione...</option>
                                        <option value="true">True</option>
                                        <option value="false">False</option>
                                    </select>
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label for="formGroupExampleInput2" class="form-label">Cantidad</label>
                                    <select class="form-select" aria-label="Default select example" name="cantidad">
                                        <option selected hidden value="">Seleccione...</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                                <div class="col-12  mb-3">
                                    <label for="especificaciones" class="form-label">Especificaciones técnicas</label>
                                    <textarea class="form-control" style="resize: none;" name="especificaciones"
                                        id="especificaciones"></textarea>
                                    <small class="ms-2 text-danger"><%= locals.errors && (errors.technicalSpecifications && errors..msg)technicalSpecifications %></small>
    
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label for="formGroupExampleInput2" class="form-label">Categoría</label>
                                    <select class="form-select" aria-label="Default select example" name="category">
                                        <option selected hidden value="">Seleccione...</option>
                                        <% categories.forEach(category => { %> 
                                            <option value="<%= category.id %>"> <%= category.name %></option>
                                        <% }) %>
                                    </select>
                                    <small class="ms-2 text-danger"><%= locals.errors && (errors.category && errors.category.msg) %></small>
                                </div>


                                <div class="col-12 d-flex justify-content-end gap-2 mb-3">
                                    <button class="btn btn-secondary"><a href="/admin" style="color:white;">Volver al ADMIN</a></button>
                                    <small class="ms-2 text-danger"><%= locals.errors && (errors.image && errors.image.msg) %></small>
                                    <label for="image" class="btn btn-secondary">Agregar imagen</label>
                                    <input hidden class="form-control" type="file" id="image" name="imagen">
                                    <button class="btn btn-guardar" type="submit">Agregar producto</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>

</html>