<!DOCTYPE html>
<html lang="en">
<%- include('partial/head',{ title:'INDEX' }) %>

    <body class="productsForms">

        <!-- MAIN -->
        <main class="container">
            <div class="row mt-5">
                <div class="col-12 col-md-12 col-lg-10 mx-auto">
                    <div class="card">

                        <!-- HEADER TABLA -->
                        <div class="card-header">
                            <h4 class="card-title">Nuevo Producto</h4>
                        </div>
                        <div class="card-body">

                            <!-- FORMULARIO -->
                            <form action="" method="POST" class="row" enctype="multipart/form-data">
                                <div class="col-12 col-md-6 mb-3">
                                    <label for= "brand" class="form-label">Marca</label>
                                    <select class="form-select <%= locals.errors && (errors.brand && 'is-invalid') %>" 
                                        aria-label="Default select example" name="brand" id="brand">
                                    <option selected hidden value="">Seleccione...</option>
                                            <% brands.forEach(brand=> { %>
                                              <option value="<%= brand.id %>" <%= locals.old && (old.brand===brand.id 
                                              
                                              && 'selected' )%> >
                                                <%= brand.name %>
                                              </option>
                                              <% }) %>
                                          </select>
                                    <small class="ms-2 text-danger" id="msgError-brand" >
                                        <%= locals.errors && (errors.brand && errors.brand.msg) %>
                                    </small>
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label for="section" class="form-label">Sección</label>
                                    <select class="form-select <%= locals.errors && (errors.section && 'is-invalid') %>"
                                        aria-label="Default select example" name="section" id="section">
                                        <option selected hidden value="">Seleccione...</option>
                                        <% sections.forEach(section=> { %>
                                            <option value="<%= section.id %>" <%=locals.old && (old.section===section.id
                                                && 'selected' )%> >
                                                <%= section.name %>
                                            </option>
                                            <% }) %>
                                    </select>
                                    <small class="ms-2 text-danger" id="msgError-section">
                                        <%= locals.errors && (errors.section && errors.section.msg) %>
                                    </small>
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label for="model" class="form-label">Modelo</label>
                                    <input type="text" class="form-control" id="model"
                                        placeholder="Modelo del producto" name="model">
                                    <small class="ms-2 text-danger"id="msgError-model" ><%= locals.errors && (errors.model && errors.model.msg)%></small>    
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label for="color" class="form-label">Color</label>
                                    <input type="text" class="form-control" id="color"
                                        placeholder="Color del producto" name="color">
                                 <small class="ms-2 text-danger"id="msgError-color" ><%= locals.errors && (errors.color && errors.color.msg)%></small>    
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label for="year" class="form-label">Año de lanzamiento</label>
                                    <input type="number" class="form-control" id="year" name="year">
                                </div>
                                <div class="col-12  mb-3">
                                    <label for="description" class="form-label">Descripción</label>
                                    <textarea class="form-control" style="resize: none;" name="description"
                                        id="description"></textarea>
                                    <small class="ms-2 text-danger"id="msgError-description"><%= locals.errors && (errors.description && errors.description.msg)%></small>    
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label for="discount" class="form-label">Descuento</label>
                                    <input type="number" class="form-control" id="discount" name="discount" value="0">
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label for="price" class="form-label">Precio</label>
                                    <input type="number" class="form-control" id="price" name="price">
                                    <small class="ms-2 text-danger"id="msgError-price"><%= locals.errors && (errors.price && errors.price.msg)%></small>
                                </div>
                                <div class="col-12  mb-3">
                                    <label for="technicalSpecifications" class="form-label">Especificaciones técnicas</label>
                                    <textarea class="form-control" style="resize: none;" name="technicalSpecifications"
                                        id="technicalSpecifications"></textarea>
                                <small class="ms-2 text-danger"><%= locals.errors && (errors.technicalSpecifications && errors.technicalSpecifications.msg)%></small>
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label for="category" class="form-label">Categoría</label>
                                    <select class="form-select" aria-label="Default select example" name="category" id="category">
                                        <option selected hidden value="">Seleccione...</option>
                                        <option value="accesorios">Accesorios</option>
                                        <option value="celular">Celular</option>
                                    </select>
                                </div>

                                <div class="col-12 d-flex justify-content-end gap-2 mb-3">
                                    <button class="btn btn-secondary"><a href="/admin" style="color:white;">Volver al ADMIN</a></button>
                                    <label for="image" class="btn btn-secondary">Agregar imagen</label>
                                    <input hidden class="form-control" type="file" id="image" name="image" multiple>
                                    <button class="btn btn-guardar" type="submit">Agregar producto</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </main>

        <script src="/javascripts/addValidator.js"></script>
    </body>
</html>
